body, html{
  background-color: white;
  margin: 0;
  padding: 0;
}
form{
  background-color: rgb(223, 223, 223);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 5%;
  box-shadow: 1px 1px 10px rgb(223, 223, 223);
}
footer{
  text-align: center;
  height: 40px;
  padding: 10%;
  font-size: 12px;
}
.jumbotron p{
  color: rgb(148, 148, 148);
  margin-bottom: 10px;
}
.result_ico{
  width: 90px;

}
#box-resultados{
  background-color: rgb(223, 223, 223);
  padding: 5% 2%;
  border-radius: 5%;
  box-shadow: 1px 1px 10px rgb(223, 223, 223);
  list-style: none;
  margin: 10%;
}
#box-resultados:hover{
  background-color: rgb(205, 205, 205);
  transition: 0.3s
}
